[Unit]
Description=Gunicorn instance to serve grid-game for PyConEs 2017
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/root/flask-socketio-grid-game
Environment="PATH=/root/flask-socketio-grid-game/venv/bin"
ExecStart=/root/flask-socketio-grid-game/venv/bin/gunicorn --worker-class eventlet --workers 1 --bind 0.0.0.0:5000 flask-socketio-grid-game:app

[Install]
WantedBy=multi-user.target