<!DOCTYPE HTML>
<html>
<head>
    <title>PyConES 2017 Real-Time Grid Game</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/libs/css/materialize.min.css">
    <link rel="stylesheet" href="../static/css/appIO.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
<div id="wrapper">
    <div id="header" class="light-blue lighten-1">
        <div class="container"><a href="#" class="brand-logo left">PyConES 2017</a>
            <ul class="right">
                <li><span id="user-cnt">0</span> Users</li>
                <a class="grey-text text-lighten-4 right"
                   href="https://github.com/tuxskar/flask-socketio-grid-game">Github</a>
            </ul>
        </div>
    </div>

    <div id="playground" class="row">
        <div class="grid"></div>
    </div>


    <div id="footer">
        <div class="col s12 footer-content">
            <button class='move btn waves-effect' id="btn-up"><i class="large material-icons">arrow_upward</i></button>
            <br><br>
            <button class='move btn waves-effect' id="btn-left"><i class="large material-icons">arrow_back</i></button>
            <span id="symbol"></span>
            <button class='move btn waves-effect' id="btn-right"><i class="large material-icons">arrow_forward</i>
            </button>
            <br><br>
            <button class='move btn waves-effect' id="btn-down"><i class="large material-icons">arrow_downward</i>
            </button>
        </div>
    </div>
    <!-- Compiled and minified JavaScript -->


</div>


</body>
{% assets filters="jsmin", output="gen/libs.js",
"libs/js/socket.io.min.js", "libs/js/jquery.2.2.4.min.js",
"libs/js/materialize.js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

{% assets output="gen/appIO.js",
"js/appIO.js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

{% if auto_move %}
    {% assets output="gen/appIO-auto_move.js",
"js/auto-movement.js" %}
        <script>
        userMaxTimeWait = {{ max_time_wait }};
        </script>
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>

    {% endassets %}
{% endif %}


</html>
